*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* .App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.user {
  border: 2px solid black;
  border-radius: 10px;
  background-color: #b3e3ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 320px;
  height: 200px;
  margin: 20px;
}

.user h3{
  font-size: 18px;
}

.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid blue;
  color: blue;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: blue;
}

.paginationActive a {
  color: white;
  background-color: blue;
}

.paginationDisabled a {
  color: grey;
  background-color: grey;
} */